html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

p {
  margin: 0;
}

.root {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headers {
  color: #444;
  text-transform: uppercase;
  font-size: 14px;
  /*padding-top: 16px;*/
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 150px;
  font-weight: bold;
}

.headers>.header {
  display: inline-block;
  text-align: center;
  padding: 0px;
  color: #fff;
}

.app {
  height: 70%;
}

.iframe {
  width: 100%;
  height: 30%;
}
.iframe::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.cardContainer {
  height: 100%;
}

.finalJeopardy {
  z-index: 99;
}

.finalJeopardy .card .front {
  background-color: #f05c5c;
}

.flipper {
  -webkit-perspective: 1200px;
  perspective: 1200px;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: visible;
}

.flipping {
  transition: all 1s ease-in-out;
  z-index: 100;
}

.flipper.flipped {
  -webkit-transform: translate3d(0, 0, 0) !important;
  /* upper left corner overriding absolute positioning */
  transform: translate3d(0, 0, 0) !important;
  width: 100% !important;
  /* full screen overriding absolute width */
  height: 70vh !important;
  /* full screen overriding absolute height */
  z-index: 100;
  top: 0;
}

.flipper.flipped .card {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  height: 100%;
  text-align: center;
}

.card>.front, .card>.back {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: solid 2px #eaeaea;
  border-radius: 4px;
}

.card>.front {
  -webkit-transform: rotateY(0deg) !important;
  transform: rotateY(0deg) !important;
  background-color: #fff;
  opacity: 0.85;
  color: #444;
  font-size: 30px;
  z-index: 2;
}

.card>.back {
  -webkit-transform: rotateY(180deg) !important;
  transform: rotateY(180deg) !important;
  background-color: #fff;
  color: #444;
  font-size: 36px;
  font-weight: 300;
  padding: 0 50px;
}

.flipper.done .front>.points {
  display: none;
}

.flipper.flipped .back {
  font-size: 40px;
}

.back img {
  max-width: 70%;
  max-height: 70%;
}

.back video, .back iframe {
  width: 80%;
  height: 80%;
}

/*.back>img {*/
  /*position: absolute;*/
  /*bottom: 20px;*/
  /*right: 20px;*/
  /*width: 120px;*/
/*}*/

ul, ol {
  text-align: left;
  display: inline-block;
}

li {
  margin-top: 8px;
}

ol {
  list-style-type: upper-alpha;
}

code {
  margin-top: 28px;
  display: inline-block;
  font-size: 38px;
  overflow: auto;
  text-align: left;
  font-family: 'Source Code Pro', monospace;
  text-align: left;
}